*{
  margin: 0; padding: 0; box-sizing: border-box;
}
.container{
  margin: 10px;
  border: 2px solid black;
  width: 100vh;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
}
div{
  padding: 5px;
}
.one{
  border: 2px solid red;
}
.two{
  border: 2px solid aqua;
}
@media (min-width: 60em) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}